huggingface_hub
numba
numpy
#opencv-python
peft
protobuf
seaborn
sentencepiece
torch
transformers

git+https://EnricoSimionato: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@github.com/EnricoSimionato/Experiment-Orchestrator.git@master#egg=exporch
git+https://EnricoSimionato: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@github.com/EnricoSimionato/Redundancy-Hunter.git@master#egg=redhunter
