numpy~=1.26.4
torch~=2.2.0
transformers~=4.38.0
datasets~=2.19.1
torchmetrics~=1.1.2
pytorch-lightning
peft~=0.11.1
opencv-python~=4.10.0.84
matplotlib~=3.8.3
accelerate~=0.25.0
huggingface_hub~=0.23.1
huggingface-hub~=0.23.0
packaging~=23.2
safetensors~=0.4.2
tqdm~=4.66.1
seaborn~=0.13.2